<p class="edit__title">{{ title }}</p>

<form [formGroup]="form">
    <input formControlName="name" type="text" placeholder="Nombre..." maxlength="20">
    <app-error-number-message [errors]="setErrorMessage('name')"></app-error-number-message>
    <br>
    <br>
    <input formControlName="hp" type="number" placeholder="HP..." min="1" max="900">
    <app-error-number-message [errors]="setErrorMessage('hp')"></app-error-number-message>
    <br>
    <br>
    <input formControlName="attack" type="number" placeholder="Ataque..." min="1" max="900">
    <app-error-number-message [errors]="setErrorMessage('attack')"></app-error-number-message>
    <br>
    <br>
    <input formControlName="defense" type="number" placeholder="Defensa..." min="1" max="900">
    <app-error-number-message [errors]="setErrorMessage('defense')"></app-error-number-message>
    <br>
    <br>
    <ng-container *ngIf="isANewPokemon">
        <input formControlName="type" type="text" placeholder="Type...">
        <app-error-number-message [errors]="setErrorMessage('type')"></app-error-number-message>
        <br>
        <br>
    </ng-container>
</form>

<button 
(click)="clickedButton.emit(form.value)"
class="button button--action"
[ngClass]="{ 'button--disabled': form.invalid }"
>
{{ buttonName }}
</button>
