<div class="search">
    <p class="search__title">Listado de Pokemons</p>
    <div>
        <div>
            <input #valor class="search__field" type="Buscar" name="buscar" id="" placeholder="Encuentra tu pokemon..." (keyup)="searchField($event)">
            <span *ngIf="valor.value && !filterPokemonList.length">No se encontró tu pokemon!</span>
        </div>
    
        <div>
            <button class="button button--main">Agregar un pokemon</button>

            <button 
            class="button button--main"
            (click)="this.refreshList.emit()"
            >
            Refrescar <i class="fa-solid fa-arrows-rotate"></i>
            </button>
        </div>
  
    </div>
</div>
