@import '../../../../assets/style/colors.scss';

.search {
    margin-bottom: 3em;
}

.search__title {
    color: $blue-primary;
    font-size: 1.5rem;
}

.search__field {
    width: 16em;
    margin-bottom: 2em;
} 

