@import '../../../assets/style/colors.scss';

.pokemon__table {
    border: 1px solid white;
    
    th, td {
        background-color: #96D4D4;
        padding: 1em;
        text-align: center;
      }
}

.pokemon__table--title {
    color: $blue-primary;
}

.pokemon__table--text {
    color: $blue-secondary;
    font-weight: 300;
}

.pokemon__table--image {
    width: 4em;
}

.pokemon__table--icons {
    display: flex;
    justify-content: space-around;

    i {
        cursor: pointer;
    }
}

.list-pokemon {
    display: flex;
    justify-content: space-around;
}
